body{
    font-family: 'Special Elite', cursive !important;
    font-size: 16px;
}

.background-photo{
    background: url("../img/create.jpg") no-repeat fixed center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
.background-photo2{
    background: url("../img/home.jpg") no-repeat fixed center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.blur{
    /*background: rgba(255, 255, 255, 0.2);*/
    backdrop-filter: blur(8px);
    height: 100vh;

}
